body {
	background-color: #f9f5d7;
	color: #282828;

	a {
		color: #458588;
	}

	a:visited {
		color: #b16286;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #1d2021;
		color: #fbf1c7;
	}
}
